@model MillennialResortWebSite.Models.CreateAppointmentViewModel

@{
    ViewBag.Title = "WhaleWatching";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                minDate: "+@ViewBag.minDate",
                maxDaste: "+@ViewBag.maxDate",
                yearRange: "-60:+@ViewBag.plusYears"
            });

        });
    </script>
}

<h2>Whale Watching</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StartTime, new SelectList(
               new List<Object>
               {
                   new { value = 8, text = "8am"},
                   new { value = 9, text = "9am"},
                   new { value = 10, text = "10am"},
                   new { value = 11, text = "11am"},
                   new { value = 13, text = "1pm"},
                   new { value = 14, text = "2pm"},
                   new { value = 15, text = "3am"},
                   new { value = 16, text = "4am"}
               },
               "value",
               "text",
               2))
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="text-danger">@ViewBag.errorMessage</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back Amenities", "Index", "Amenities")
</div>
