<!-- View Added on 4/18/19 by Matt H. -->
@model MillennialResortWebSite.Models.ContactViewModel

@{
    ViewBag.Title = "Contact Us";
}




<div class="container body-content RegistrationPage contactPageForm">
    @*<div class="container body-content1">*@

    <h1 class="pull-left" style="color:#40798C;    font-family: 'Fugaz One', cursive; text-shadow: 2px 2px 3px #2296a7; ">Contact Us and we will respond within the next 2-3 days.</h1>

    <div class="form-horizontal">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="col-md-6">


                <div class="form-group">
                    <div id="fNameDiv">
                        @Html.LabelFor(model => model.FirstName)
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @id = "fNameTxtBox" })
                        <br />
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div id="selSubDiv">
                        @Html.LabelFor(model => model.SelectedSubject)

                        @Html.DropDownListFor(model => model.SelectedSubject, new SelectList(Model.Subjects, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                        <br />
                        <p class="text-danger">@ViewBag.DropdownError</p>
                    </div>
                </div>
                <div class="form-group">
                    <div id="lNameDiv">
                        @Html.LabelFor(model => model.LastName)
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @id = "lNameTxtBox" })
                        <br />
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>







            <div class="col-md-6">


                <div class="form-group">
                    <div id="descDiv">
                        @Html.TextAreaFor(model => model.Description, 10, 50, new { @class = "form-control", @id = "descTxtArea", placeholder = "Tell us a little about your issue.", })
                        <br />
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div id="emailDiv">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "emailTxtBox" })
                        <br />
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div id="submitDiv">
                        <input type="submit" value="Submit" id="contactFrmSbmtBtn" class="btn btn-default" />
                    </div>
                </div>
            </div>

        }
    </div>

  
       
                <h2>Rest & Relaxation Way</h2> 
                <h2>Panama City Beach, Florida 32401</h2>
                <h2>Phone: 425.555.0100</h2>
                <strong>Support:</strong>   <a href="mailto:millennialcontact107@gmail.com">millennialcontact107@gmail.com</a>

           

        
   
</div>

