@model MillennialResortWebSite.Models.ReservationSearchModel


@{
    IEnumerable<String> types = (IEnumerable<String>)ViewBag.Types;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")



    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0",
                minDate: 0
            }).attr('autocomplete', 'off');

        });
    </script>

}




<div class="content">
    <div class="jumbotron jumbotronBackGroundReservationPage">
        <div class="container body-content">
            <h1>@ViewBag.Greeting, Explore Paradise!</h1>
            <h2>Stay with Us!</h2>

        </div>
    </div>


    <div class="container body-content1">
        <div class="col-md-4">

            @using (Html.BeginForm("Index", "Rooms"))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal planTripRoomspage">
                <h2>Make Reservation</h2>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ArrivalDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Start Date", @readonly = "true" } })
                        @Html.ValidationMessageFor(model => model.ArrivalDate, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DepartureDate, new { htmlAttributes = new { @class = "form-control", placeholder = "End Date", @readonly = "true" } })
                        @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10">

                        @Html.DropDownListFor(model => model.NumberOfGuests, Enumerable.Range(1, 25).Select(i => new SelectListItem { Text = i.ToString() + " Guest", Value = i.ToString() }), new { @class = "form-control Sleeps" })

                        @Html.ValidationMessageFor(model => model.NumberOfGuests, "", new { @class = "text-danger" })

                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.RoomTypes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.RoomTypes,
                                          new SelectList(types),
                                          new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoomTypes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" id="centerButton" class="btn btn-default" />
                    </div>
                </div>

                <p>@Html.ActionLink("View all Properties", "Index", "Rooms")</p>

            </div>
            }
        </div>
        <div class="col-md-8 roomTable">
            <div class="row">

                <table class="table roomPortal">

                    <th>
                        Rooms
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>

                    @foreach (var item in Model.Rooms)
                    {


                        <tr>
                            @{
                                if (item.RoomType == "Beach House")
                                {
                                    <td><img class="card-img-top" src="~/Content/images/beachHouse.jpg" alt="Card image cap"></td>
                                }
                                else if (item.RoomType == "Bungalow Land")
                                {
                                    <td><img class="card-img-top" src="~/Content/images/bungaloLand.jpg" alt="Card image cap"></td>
                                }
                                else if (item.RoomType == "Bungalow Sea")
                                {
                                    <td><img class="card-img-top" src="~/Content/images/bunglalowWater.jpg" alt="Card image cap"></td>
                                }
                                else if (item.RoomType == "Royal Suite")
                                {
                                    <td><img class="card-img-top" src="~/Content/images/jade-Mountain.jpg" alt="Card image cap"></td>
                                }
                                else
                                {
                                    <td><img class="card-img-top" src="~/Content/images/HotelHostel.jpg" alt="Card image cap"></td>
                                }
                            }



                            <td>
                                @Html.DisplayFor(modelItem => item.RoomType)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>

                            <td>
                                <p>$  @Html.DisplayFor(modelItem => item.Price)</p>
                            </td>
                            <td>
                                @Html.ActionLink("Reserve Now!", "Create", new { id = item.RoomID, start = Model.ArrivalDate, end = Model.DepartureDate, numGuest = Model.NumberOfGuests })

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

