@model IEnumerable<DataObjects.Event>

@{
    ViewBag.Title = "Current Events";
}


<div class="content">
    <div class="jumbotron jumbotronBackGroundEventPage">
        <div class="container body-content">
            <h1 class="pull-right" style="color:cyan">Reserve your seat now!</h1>

        </div>
    </div>

    <div class="container body-content1">

        <table class="table roomPortal">

            <h1 class="pull-left" style="color:dodgerblue;    font-family: 'Fugaz One', cursive; text-shadow: 3px 3px 3px #48ddf2; ">Welcome to out Events Page!</h1>
            <th>
                Events
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStartDate)
            </th>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="card-img-top" src="~/Content/images/Seaplane.jpg" alt="Card image cap">
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EventTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventTypeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventStartDate)
                    </td>
                    @*<td>
                    @Html.DisplayFor(modelItem => item.EventEndDate)
                </td>*@
                    @*<td>
                    @Html.DisplayFor(modelItem => item.NumGuests)
                </td>*@
                    @*<td>
                    @Html.DisplayFor(modelItem => item.SeatsRemaining)
                </td>*@
                    <td>
                        @Html.ActionLink("Buy Ticket", "Buy", new { id = item.EventID })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>