@model DataObjects.Reservation

@{
    ViewBag.Title = "ViewReservations";
}

<h2 style="padding-left: 10px;">Your Reservation</h2>

<div>
    <p style="padding-left: 20px;">
        Want to change your reservation? @Html.ActionLink("Contact us", "Contact", "Home")
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPets)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <br />

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Account", "Index")
</p>
