@model IEnumerable<DataObjects.Building>

@{
    ViewBag.Title = "Index";
}



<div class="content">
    <div class="jumbotron jumbotronBackGroundBuildingPage">
        <div class="container body-content">
            <h1>Resort Buildings and Venues!</h1>

        </div>
    </div>

    <div class="container body-content1">

        <table class="table roomPortal">

            <h1 class="pull-left" style="color:#40798C;    font-family: 'Fugaz One', cursive; text-shadow: 2px 2px 3px #2296a7; ">Rent out our Venues!</h1>
            <th>
                Venues
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StatusID)
            </th>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="card-img-top" src="~/Content/images/sovenue.png" alt="Card image cap">
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusID)
                    </td>
                </tr>
            }

        </table>
    </div>
    </div>
</div>
